body {
  font-size: 28px;
}

.uele {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #1f2bda;
}

#particles-js{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/crazy.jpg);
    height: 30%;
    background-position: center;
}

.welcome{
    padding: 45px;
    font-style: oblique;
    font-size: larger;
    position: absolute;
    color: white;
    font-family: sans-serif;
}

.initial{
    background-color: rgba(0,0,0,1);
}

.letras{
  color: blanchedalmond;
}

.reading{
  padding: 30px;
}