.initial{
    background-color: black;
}

.letras{
    color: blanchedalmond;
}

body {
    font-size: 28px;
  }
  
.uele {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; 
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #1f2bda;
  }

  .position-item{
    float: left;
    clear: left;
  }

  .img-project{
    margin-bottom: 50px;
    height: 140;
    width: 100px;
  }

.clickables{
  cursor: pointer;
}

.down{
  margin-bottom: 30px;
}