.initial{
    background-color: black;
}

.letras{
    color: blanchedalmond;
}

body {
    font-size: 28px;
  }
  
.uele {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #1f2bda;
  }
  

  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 #0a2d77;
  transition: 0.3s;
  margin-top: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #111;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 1px 20px;
}

.card-position{
  height: 200px;
  width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}